<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1299},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1409},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1370},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1307},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1307},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1307},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1329},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1269},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1227},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1227},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1227},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1223},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1219},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1219},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1219},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1219},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1139},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1139},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1139},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1139},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1249},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1169},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1168},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1147},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1147},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1147},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1122},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1059},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1059},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1059},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1059},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1089},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1067},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1067},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1067},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1067},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1021},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,979},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,979},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,979},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,979},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,920},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,899},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,899},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,899},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,899},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,819},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,819},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,819},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,819},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,819},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1009},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,929},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,849},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>loginbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,769},{498,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,49}}</string>
                <key>sourceSize</key>
                <string>{498,49}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,769},{371,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,297}}</string>
                <key>sourceSize</key>
                <string>{371,297}</string>
            </dict>
            <key>poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,769},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8a02e95ee51512ca37eb26ad35007e0$</string>
            <key>textureFileName</key>
            <string>image-hd.png</string>
        </dict>
    </dict>
</plist>
